$mini-clock-size: 45px;
$mini-clock-border: 3px;
$mclock-gap: 3px;
$digit-width: ($mini-clock-size + $mini-clock-border * 2 + $mclock-gap * 2) * 4;
$digit-height: ($mini-clock-size + $mini-clock-border * 2 + $mclock-gap * 2) * 6;
$digit-gap: 6px;
$clock-width: ($digit-width + $digit-gap * 2) * 2;
$clock-height: ($digit-height + $digit-gap * 2) * 2;

.app {
    padding: 0;
    margin: 0;
}

.clock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1;
    width: $clock-width;
    height: $clock-height;
    position: absolute;
    left: calc(50% - 240px);
}

.digit {
    margin: $digit-gap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 1 1;
    width: $digit-width;
    height: $digit-height;
}

.mini-clock {
    margin: $mclock-gap;
    width: $mini-clock-size;
    height: $mini-clock-size;
    background-color: white;
    border-radius: 50%;
    border: $mini-clock-border #0000002e solid;
}

@mixin pointer {
    position: relative;
    width: 0;
    height: 33%;
    border-radius: 5px;
    border: 3px black solid;
    background-color:black; 
}

.pointer1 {
    @include pointer;
    left: 45%;
    top: 5%;
    transform-origin: 50% 95%;
    transform: rotate(0deg);
}

.pointer2 {
    @include pointer;
    left: 45%;
    top: -42%;
    transform-origin: 50% 95%;
    transform: rotate(0deg);
}
